<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>404: Page not found</title>
    <meta name="robots" content="noindex,nofollow">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">

    <link rel="stylesheet" href="{{ theme_url }}/css/normalize.css" type="text/css" />

    <style type="text/css">
    	body {
    		font-family:'Open Sans', sans-serif;
    	}
    	h1 {
    		font-size:48pt;
    	}
    	p {
			font-size:20pt;
			line-height:36pt;
    	}
    	.wrapper-404 {
			width:70%;
			margin:10% auto;

    	}

    </style>

</head>
<body>
    <div class="wrapper-404">
    	<h1>Error 404</h1>
    	<p>Oops! It would seem that this page does not exist.</p>
    	<p><a href="{{ base_url }}">Click here</a> to return to the site.</p>
    </div>
</body>
</html>
